* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html {
  overflow-x: hidden;
}

/*Menu navegacional*/
header.header {
  background-color: #333;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.header figure {
  display: flex;
  gap: 1rem;
}

header.header figure img {
  width: 30px;
  height: 30px;
}

header.header figure h1 {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  color: #f4f4f4;
}

header.header nav.nav {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

header.header nav.nav a {
  padding: 0.5em;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
}

header.header nav.nav a:hover {
  color: rgb(247, 57, 57);
  border-radius: 10px;
  background: rgb(75, 75, 75);
}

/*Trabalhando com o titulo principal*/

main.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  color: #f4f4f4;
  margin-bottom: 3rem;
}

main.container section.apresentacao-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 5rem;
  height: 100px;
}

main.container section.apresentacao-container h1.title-principal {
  color: rgb(247, 57, 57);
  font-size: 1.8em;
}

main.container section.apresentacao-container h1.title-principal b {
  color: #333;
}

main.container section.apresentacao-container h1.title-principal img {
  width: 40px;
  height: 40px;
}

main.container section.apresentacao-container img.charizard {
  width: 150px;
}

/*Trabalhando com a section content-container da pagina sobre*/

main.container section.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 400px;
  padding: 2rem;
  margin-top: 3rem;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 20px 20px 50px -30px rgb(247, 57, 57);
}

main.container section.content-container p.content {
  line-height: 1.8em;
}

main.container section.content-container p.content b {
  color: rgb(247, 57, 57);
}

/*Trabalahndo com o footer*/

footer.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

footer.footer p {
  color: #f4f4f4;
}

footer.footer b {
  color: rgb(247, 57, 57);
}

@media only screen and (max-width: 758px) {
  header.header figure h1 {
    display: none;
  }

  main.container section.content-container {
    width: 95%;
    height: 100%;
  }
}
